// Place all the styles related to the parcel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table.generic {
  border:1px solid black;
  table-layout:fixed;
  background-color: #F0F0F0;
}

th.grey_head {
  border:1px solid black;
  background-color: #F0F0F0;
}

tr.white {
  background-color:#FFFFFF;
}

tr.grey {
  background-color:#F1F1F1;
}

select {
  width: 192px;
}

.errors ul {
  text-align: justify;
  list-style-type: none;
}